*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: #fff;
    position: relative;
    font-family: roboto, sans-serif;
}

.brand-logo{
    height: 40px;
}

.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    background: #fff;
    z-index: 9;
    display: flex;
    align-items: center;
}

.nav-links{
    margin-top: 10px;
    display: flex;
    list-style:none;
}

.nav-items a{
    text-decoration: none;
    margin-left: 20px;
    text-transform: capitalize;
    color: #303030;
    opacity: 0.9;
    font-size: 15px;
    font-weight: 700;
}

.right-container{
    display: block;
    margin-left: auto;
}

#parks{
    padding: 70px 0;
}

.work-list{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.work1{
    display: block;
    float: left;
    width: 200px;
}

.work2{
    display: block;
    float: right;
    width: 581px;
}

.work3{
    display: block;
    float: right;
    width: 581px;
}

.work4{
    display: block;
    float: left;
    width: 700px;
}

.work5{
    display: block;
    float: right;
    width: 581px;
}

.work6{
    display: block;
    float: right;
    width: 581px;
}

#related{
    padding: 24px 48px;
    margin-top: 680px;
    bottom: 650px;
}

.bound-list{
    overflow: visible;
    font-size: 1.875rem;
    margin-bottom: 30px;
    text-align: center;
    line-height: 2rem;
    position: relative;
}

.bound{
    font-weight: 400;
    display: inline-block;
    line-height: 1.875rem;
    font-size: 1.180rem;
    letter-spacing: 0;
    width: auto;
    float: left;
    min-height: 2.1rem;
    vertical-align: top;
    color: rgba(0, 0, 0, 0, 9);
    margin: 0;
    padding: 0;
}

.aspect{
    padding: 24px 48px;
    position: relative;

}

.background-images1{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    width: 700px;
    margin-top: 840px;
}

.background-images2{
    display: block;
    float: right;
    width: 500px;
    margin-top: 70px;
}